@charset "UTF-8";

@font-face {
  font-family: "lexelor";
  src:url("../fonts/lexelor.eot");
  src:url("../fonts/lexelor.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lexelor.woff") format("woff"),
    url("../fonts/lexelor.ttf") format("truetype"),
    url("../fonts/lexelor.svg#lexelor") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "lexelor" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "lexelor" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-abacus:before {
  content: "a";
}
.icon-account:before {
  content: "b";
}
.icon-account-circle-1:before {
  content: "c";
}
.icon-account-circle-2:before {
  content: "d";
}
.icon-account-code:before {
  content: "e";
}
.icon-account-expand:before {
  content: "f";
}
.icon-account-favorite:before {
  content: "g";
}
.icon-account-files:before {
  content: "h";
}
.icon-account-find-1:before {
  content: "i";
}
.icon-account-find-2:before {
  content: "j";
}
.icon-account-flag:before {
  content: "k";
}
.icon-account-flash:before {
  content: "l";
}
.icon-account-group-1:before {
  content: "m";
}
.icon-account-group-2:before {
  content: "n";
}
.icon-account-group-3:before {
  content: "o";
}
.icon-account-group-4:before {
  content: "p";
}
.icon-account-group-5:before {
  content: "q";
}
.icon-account-group-circle:before {
  content: "r";
}
.icon-account-home:before {
  content: "s";
}
.icon-account-lock:before {
  content: "t";
}
.icon-account-protection:before {
  content: "u";
}
.icon-account-text:before {
  content: "v";
}
.icon-account-up-down:before {
  content: "w";
}
.icon-add-1:before {
  content: "x";
}
.icon-add-2:before {
  content: "y";
}
.icon-add-box:before {
  content: "z";
}
.icon-add-circle-1:before {
  content: "A";
}
.icon-add-circle-2:before {
  content: "B";
}
.icon-add-circle-double:before {
  content: "C";
}
.icon-add-tab:before {
  content: "D";
}
.icon-adjust-brightness:before {
  content: "E";
}
.icon-airballoon:before {
  content: "F";
}
.icon-airplane-1:before {
  content: "G";
}
.icon-airplane-2:before {
  content: "H";
}
.icon-airship:before {
  content: "I";
}
.icon-alarm:before {
  content: "J";
}
.icon-alarm-clock:before {
  content: "K";
}
.icon-alarm-silent:before {
  content: "L";
}
.icon-alarm-snooze:before {
  content: "M";
}
.icon-arrow-next:before {
  content: "N";
}
.icon-arrow-previous:before {
  content: "O";
}
.icon-arrow-return:before {
  content: "P";
}
.icon-arrow-right:before {
  content: "Q";
}
.icon-arrow-shift:before {
  content: "R";
}
.icon-arrow-top-left:before {
  content: "S";
}
.icon-arrow-top-right:before {
  content: "T";
}
.icon-arrow-up:before {
  content: "U";
}
.icon-asterisk-1:before {
  content: "V";
}
.icon-asterisk-2:before {
  content: "W";
}
.icon-at-sign:before {
  content: "X";
}
.icon-at-sign-circle:before {
  content: "Y";
}
.icon-at-sign-stamp:before {
  content: "Z";
}
.icon-atomic-bomb:before {
  content: "0";
}
.icon-auction:before {
  content: "1";
}
.icon-bank-1:before {
  content: "2";
}
.icon-bank-2:before {
  content: "3";
}
.icon-bank-notes-1:before {
  content: "4";
}
.icon-bank-notes-2:before {
  content: "5";
}
.icon-bank-notes-3:before {
  content: "6";
}
.icon-bank-notes-atm:before {
  content: "7";
}
.icon-balloon:before {
  content: "8";
}
.icon-blood-drop:before {
  content: "9";
}
.icon-bubble-chat-1:before {
  content: "!";
}
.icon-bubble-chat-2:before {
  content: "\"";
}
.icon-bubble-chat-3:before {
  content: "#";
}
.icon-bubble-chat-add-1:before {
  content: "$";
}
.icon-bubble-chat-add-2:before {
  content: "%";
}
.icon-bubble-chat-add-3:before {
  content: "&";
}
.icon-bubble-chat-block-1:before {
  content: "'";
}
.icon-bubble-chat-block-2:before {
  content: "(";
}
.icon-bubble-chat-download-2:before {
  content: ")";
}
.icon-bubble-chat-download-3:before {
  content: "*";
}
.icon-bubble-chat-edit-1:before {
  content: "+";
}
.icon-bubble-chat-edit-2:before {
  content: ",";
}
.icon-bubble-chat-edit-3:before {
  content: "-";
}
.icon-bubble-chat-exclamation-1:before {
  content: ".";
}
.icon-bubble-chat-exclamation-2:before {
  content: "/";
}
.icon-bubble-chat-favorite-heart-1:before {
  content: ":";
}
.icon-bubble-chat-forwar-all-1:before {
  content: ";";
}
.icon-bubble-chat-forward-1:before {
  content: "<";
}
.icon-bubble-chat-forward-2:before {
  content: "=";
}
.icon-bubble-chat-forward-all-2:before {
  content: ">";
}
.icon-bubble-chat-graph-1:before {
  content: "?";
}
.icon-bubble-chat-graph-2:before {
  content: "@";
}
.icon-bubble-chat-heart-1:before {
  content: "[";
}
.icon-bubble-chat-heart-2:before {
  content: "]";
}
.icon-bubble-chat-block-3:before {
  content: "^";
}
.icon-bubble-chat-check-1:before {
  content: "_";
}
.icon-bubble-chat-check-2:before {
  content: "`";
}
.icon-bubble-chat-check-3:before {
  content: "{";
}
.icon-bubble-chat-download-1:before {
  content: "|";
}
.icon-bubble-chat-favorite-heart-2:before {
  content: "}";
}
.icon-bubble-chat-favorite-heart-3:before {
  content: "~";
}
.icon-bubble-chat-favorite-star-1:before {
  content: "\\";
}
.icon-bubble-chat-favorite-star-2:before {
  content: "\e000";
}
.icon-bubble-chat-favorite-star-3:before {
  content: "\e001";
}
.icon-brightness-increase:before {
  content: "\e002";
}
.icon-brick-wall:before {
  content: "\e003";
}
.icon-bubble-chat-information-1:before {
  content: "\e004";
}
.icon-bubble-chat-information-2:before {
  content: "\e005";
}
.icon-bubble-chat-list-1:before {
  content: "\e006";
}
.icon-bubble-chat-lock-1:before {
  content: "\e007";
}
.icon-bubble-chat-lock-2:before {
  content: "\e008";
}
.icon-bubble-chat-lock-3:before {
  content: "\e009";
}
.icon-bubble-chat-picture-1:before {
  content: "\e00a";
}
.icon-bubble-chat-picture-2:before {
  content: "\e00b";
}
.icon-bubble-chat-question-1:before {
  content: "\e00c";
}
.icon-bubble-chat-question-2:before {
  content: "\e00d";
}
.icon-bubble-chat-quote-1:before {
  content: "\e00e";
}
.icon-bubble-chat-quote-2:before {
  content: "\e00f";
}
.icon-bubble-chat-refresh-1:before {
  content: "\e010";
}
.icon-bubble-chat-refresh-2:before {
  content: "\e011";
}
.icon-bubble-chat-refresh-3:before {
  content: "\e012";
}
.icon-bubble-chat-remove-1:before {
  content: "\e013";
}
.icon-bubble-chat-remove-2:before {
  content: "\e014";
}
.icon-bubble-chat-remove-3:before {
  content: "\e015";
}
.icon-bubble-chat-setting-1:before {
  content: "\e016";
}
.icon-bubble-chat-setting-2:before {
  content: "\e017";
}
.icon-bubble-chat-setting-3:before {
  content: "\e018";
}
.icon-bubble-chat-share-1:before {
  content: "\e019";
}
.icon-bubble-chat-share-2:before {
  content: "\e01a";
}
.icon-bubble-chat-share-3:before {
  content: "\e01b";
}
.icon-bubble-chat-smiley-1:before {
  content: "\e01c";
}
.icon-bubble-chat-smiley-2:before {
  content: "\e01d";
}
.icon-bubble-chat-subtract-1:before {
  content: "\e01e";
}
.icon-bubble-chat-subtract-2:before {
  content: "\e01f";
}
.icon-bubble-chat-subtract-3:before {
  content: "\e020";
}
.icon-bubble-chat-text-1:before {
  content: "\e021";
}
.icon-bubble-chat-text-2:before {
  content: "\e022";
}
.icon-bubble-chat-typing-1:before {
  content: "\e023";
}
.icon-bubble-chat-typing-2:before {
  content: "\e024";
}
.icon-bubble-chat-typing-3:before {
  content: "\e025";
}
.icon-bubble-chat-upload-1:before {
  content: "\e026";
}
.icon-bubble-chat-upload-3:before {
  content: "\e027";
}
.icon-bubble-chat-upoad-2:before {
  content: "\e028";
}
.icon-bubble-chat-view-1:before {
  content: "\e029";
}
.icon-bubble-chat-view-2:before {
  content: "\e02a";
}
.icon-bubble-chat-view-3:before {
  content: "\e02b";
}
.icon-bubble-chat-warning-1:before {
  content: "\e02c";
}
.icon-bubble-chat-warning-2:before {
  content: "\e02d";
}
.icon-bubble-chat-warning-3:before {
  content: "\e02e";
}
.icon-bubble-chat-warning-4:before {
  content: "\e02f";
}
.icon-bubble-chat-wink-1:before {
  content: "\e030";
}
.icon-bubble-chat-wink-2:before {
  content: "\e031";
}
.icon-bubble-thought:before {
  content: "\e032";
}
.icon-business-bag-cash:before {
  content: "\e033";
}
.icon-business-money:before {
  content: "\e034";
}
.icon-business-question:before {
  content: "\e035";
}
.icon-business-scale:before {
  content: "\e036";
}
.icon-business-setting:before {
  content: "\e037";
}
.icon-business-shield:before {
  content: "\e038";
}
.icon-business-statistics-1:before {
  content: "\e039";
}
.icon-business-statistics-2:before {
  content: "\e03a";
}
.icon-business-statistics-3:before {
  content: "\e03b";
}
.icon-business-strategy:before {
  content: "\e03c";
}
.icon-button-power-2:before {
  content: "\e03d";
}
.icon-button-power-3:before {
  content: "\e03e";
}
.icon-button-power-1:before {
  content: "\e03f";
}
.icon-button-enter:before {
  content: "\e040";
}
.icon-button-delete:before {
  content: "\e041";
}
.icon-chat-double-bubble-4:before {
  content: "\e042";
}
.icon-check-1:before {
  content: "\e043";
}
.icon-check-2:before {
  content: "\e044";
}
.icon-check-badge:before {
  content: "\e045";
}
.icon-check-box-1:before {
  content: "\e046";
}
.icon-check-box-2:before {
  content: "\e047";
}
.icon-check-circle-1:before {
  content: "\e048";
}
.icon-check-circle-2:before {
  content: "\e049";
}
.icon-check-double-1:before {
  content: "\e04a";
}
.icon-check-double-2:before {
  content: "\e04b";
}
.icon-check-shield:before {
  content: "\e04c";
}
.icon-checkers:before {
  content: "\e04d";
}
.icon-checklist:before {
  content: "\e04e";
}
.icon-chef:before {
  content: "\e04f";
}
.icon-cheque:before {
  content: "\e050";
}
.icon-chess-piece:before {
  content: "\e051";
}
.icon-circle-bar-graph:before {
  content: "\e052";
}
.icon-circle-cash:before {
  content: "\e053";
}
.icon-circle-line-graph:before {
  content: "\e054";
}
.icon-circle-people:before {
  content: "\e055";
}
.icon-circle-percent:before {
  content: "\e056";
}
.icon-circle-pie-graph:before {
  content: "\e057";
}
.icon-circle-speech-bubble:before {
  content: "\e058";
}
.icon-circle-view:before {
  content: "\e059";
}
.icon-circus-tent:before {
  content: "\e05a";
}
.icon-clapboard-fast-forward:before {
  content: "\e05b";
}
.icon-clapboard-next:before {
  content: "\e05c";
}
.icon-clapboard-pause:before {
  content: "\e05d";
}
.icon-clapboard-play:before {
  content: "\e05e";
}
.icon-clapboard-previous:before {
  content: "\e05f";
}
.icon-clapboard-record:before {
  content: "\e060";
}
.icon-clapboard-rewind:before {
  content: "\e061";
}
.icon-clapboard-stop:before {
  content: "\e062";
}
.icon-clock-1:before {
  content: "\e063";
}
.icon-clock-2:before {
  content: "\e064";
}
.icon-clock-3:before {
  content: "\e065";
}
.icon-clock-fire:before {
  content: "\e066";
}
.icon-close:before {
  content: "\e067";
}
.icon-close-badge:before {
  content: "\e068";
}
.icon-close-shield:before {
  content: "\e069";
}
.icon-clover:before {
  content: "\e06a";
}
.icon-clown:before {
  content: "\e06b";
}
.icon-cog:before {
  content: "\e06c";
}
.icon-cog-check:before {
  content: "\e06d";
}
.icon-cog-double-1:before {
  content: "\e06e";
}
.icon-cog-double-2:before {
  content: "\e06f";
}
.icon-cog-lightbulb:before {
  content: "\e070";
}
.icon-cog-magnify:before {
  content: "\e071";
}
.icon-cog-play:before {
  content: "\e072";
}
.icon-cog-square:before {
  content: "\e073";
}
.icon-coin-bank-note:before {
  content: "\e074";
}
.icon-coin-point:before {
  content: "\e075";
}
.icon-coin-receive:before {
  content: "\e076";
}
.icon-coin-star:before {
  content: "\e077";
}
.icon-coins-1:before {
  content: "\e078";
}
.icon-coins-2:before {
  content: "\e079";
}
.icon-coins-3:before {
  content: "\e07a";
}
.icon-command:before {
  content: "\e07b";
}
.icon-compass-1:before {
  content: "\e07c";
}
.icon-compass-2:before {
  content: "\e07d";
}
.icon-compass-3:before {
  content: "\e07e";
}
.icon-compass-east:before {
  content: "\e07f";
}
.icon-compass-north:before {
  content: "\e080";
}
.icon-compass-south:before {
  content: "\e081";
}
.icon-compass-west:before {
  content: "\e082";
}
.icon-chat-double-bubble-3:before {
  content: "\e083";
}
.icon-chat-double-bubble-2:before {
  content: "\e084";
}
.icon-construction-hook:before {
  content: "\e085";
}
.icon-construction-shovel:before {
  content: "\e086";
}
.icon-construction-wall:before {
  content: "\e087";
}
.icon-control-eject:before {
  content: "\e088";
}
.icon-control-fast-forward:before {
  content: "\e089";
}
.icon-control-next:before {
  content: "\e08a";
}
.icon-control-pause:before {
  content: "\e08b";
}
.icon-control-play:before {
  content: "\e08c";
}
.icon-control-previous:before {
  content: "\e08d";
}
.icon-control-record:before {
  content: "\e08e";
}
.icon-control-rewind:before {
  content: "\e08f";
}
.icon-control-stop:before {
  content: "\e090";
}
.icon-copy-1:before {
  content: "\e091";
}
.icon-copy-2:before {
  content: "\e092";
}
.icon-copy-3:before {
  content: "\e093";
}
.icon-copy-paste:before {
  content: "\e094";
}
.icon-couch:before {
  content: "\e095";
}
.icon-coupon-discount:before {
  content: "\e096";
}
.icon-crate:before {
  content: "\e097";
}
.icon-crate-trolley:before {
  content: "\e098";
}
.icon-credit-card:before {
  content: "\e099";
}
.icon-credit-card-1:before {
  content: "\e09a";
}
.icon-credit-card-amex:before {
  content: "\e09b";
}
.icon-credit-card-block:before {
  content: "\e09c";
}
.icon-credit-card-check:before {
  content: "\e09d";
}
.icon-credit-card-hand:before {
  content: "\e09e";
}
.icon-credit-card-lock:before {
  content: "\e09f";
}
.icon-credit-card-master-card:before {
  content: "\e0a0";
}
.icon-credit-card-refresh:before {
  content: "\e0a1";
}
.icon-credit-card-remove:before {
  content: "\e0a2";
}
.icon-credit-card-visa:before {
  content: "\e0a3";
}
.icon-crop-area:before {
  content: "\e0a4";
}
.icon-cross-over:before {
  content: "\e0a5";
}
.icon-crosshair-1:before {
  content: "\e0a6";
}
.icon-crosshair-2:before {
  content: "\e0a7";
}
.icon-crosshair-3:before {
  content: "\e0a8";
}
.icon-crown-1:before {
  content: "\e0a9";
}
.icon-crown-2:before {
  content: "\e0aa";
}
.icon-crown-3:before {
  content: "\e0ab";
}
.icon-delete-2:before {
  content: "\e0ac";
}
.icon-delete-1:before {
  content: "\e0ad";
}
.icon-dollar-sign-circle:before {
  content: "\e0ae";
}
.icon-dollar-sign-ticket:before {
  content: "\e0af";
}
.icon-dollar-sign-badge:before {
  content: "\e0b0";
}
.icon-email:before {
  content: "\e0b1";
}
.icon-email-2:before {
  content: "\e0b2";
}
.icon-email-add:before {
  content: "\e0b3";
}
.icon-email-at-sign:before {
  content: "\e0b4";
}
.icon-email-audio-video:before {
  content: "\e0b5";
}
.icon-email-block:before {
  content: "\e0b6";
}
.icon-email-check-1:before {
  content: "\e0b7";
}
.icon-email-check-2:before {
  content: "\e0b8";
}
.icon-email-circle:before {
  content: "\e0b9";
}
.icon-email-compose:before {
  content: "\e0ba";
}
.icon-email-death-threat:before {
  content: "\e0bb";
}
.icon-email-delete:before {
  content: "\e0bc";
}
.icon-email-download:before {
  content: "\e0bd";
}
.icon-email-favorite-1:before {
  content: "\e0be";
}
.icon-email-favorite-2:before {
  content: "\e0bf";
}
.icon-email-forward:before {
  content: "\e0c0";
}
.icon-email-inbox-1:before {
  content: "\e0c1";
}
.icon-email-lock:before {
  content: "\e0c2";
}
.icon-email-love-letter:before {
  content: "\e0c3";
}
.icon-email-outbox-1:before {
  content: "\e0c4";
}
.icon-email-picture:before {
  content: "\e0c5";
}
.icon-email-read-1:before {
  content: "\e0c6";
}
.icon-email-read-2:before {
  content: "\e0c7";
}
.icon-email-read-later:before {
  content: "\e0c8";
}
.icon-email-receipt:before {
  content: "\e0c9";
}
.icon-email-refresh-1:before {
  content: "\e0ca";
}
.icon-email-refresh-2:before {
  content: "\e0cb";
}
.icon-email-remove:before {
  content: "\e0cc";
}
.icon-email-reply:before {
  content: "\e0cd";
}
.icon-email-reply-all:before {
  content: "\e0ce";
}
.icon-email-send-1:before {
  content: "\e0cf";
}
.icon-email-send-2:before {
  content: "\e0d0";
}
.icon-email-send-3:before {
  content: "\e0d1";
}
.icon-email-setup:before {
  content: "\e0d2";
}
.icon-email-share:before {
  content: "\e0d3";
}
.icon-email-target:before {
  content: "\e0d4";
}
.icon-email-text:before {
  content: "\e0d5";
}
.icon-email-upload:before {
  content: "\e0d6";
}
.icon-email-warning:before {
  content: "\e0d7";
}
.icon-ferris-wheel:before {
  content: "\e0d8";
}
.icon-file-3d:before {
  content: "\e0d9";
}
.icon-file-acrobat:before {
  content: "\e0da";
}
.icon-file-add-1:before {
  content: "\e0db";
}
.icon-file-add-2:before {
  content: "\e0dc";
}
.icon-file-arborescence:before {
  content: "\e0dd";
}
.icon-file-badge:before {
  content: "\e0de";
}
.icon-file-bar-graph:before {
  content: "\e0df";
}
.icon-file-bar-graph-add:before {
  content: "\e0e0";
}
.icon-file-bar-graph-block:before {
  content: "\e0e1";
}
.icon-file-bar-graph-cash:before {
  content: "\e0e2";
}
.icon-file-bar-graph-check:before {
  content: "\e0e3";
}
.icon-file-bar-graph-delete:before {
  content: "\e0e4";
}
.icon-file-bar-graph-edit:before {
  content: "\e0e5";
}
.icon-file-bar-graph-favorite-heart:before {
  content: "\e0e6";
}
.icon-file-bar-graph-favorite-star:before {
  content: "\e0e7";
}
.icon-file-bar-graph-lock:before {
  content: "\e0e8";
}
.icon-file-bar-graph-question:before {
  content: "\e0e9";
}
.icon-file-bar-graph-refresh:before {
  content: "\e0ea";
}
.icon-file-bar-graph-search:before {
  content: "\e0eb";
}
.icon-file-bar-graph-setting:before {
  content: "\e0ec";
}
.icon-file-bar-graph-share:before {
  content: "\e0ed";
}
.icon-file-bar-graph-subtract:before {
  content: "\e0ee";
}
.icon-file-bar-graph-sync:before {
  content: "\e0ef";
}
.icon-file-bar-graph-timeout:before {
  content: "\e0f0";
}
.icon-file-bar-graph-warning:before {
  content: "\e0f1";
}
.icon-file-block-1:before {
  content: "\e0f2";
}
.icon-file-block-2:before {
  content: "\e0f3";
}
.icon-file-bookmark:before {
  content: "\e0f4";
}
.icon-file-camera-1:before {
  content: "\e0f5";
}
.icon-file-camera-2:before {
  content: "\e0f6";
}
.icon-file-cash-1:before {
  content: "\e0f7";
}
.icon-file-cash-2:before {
  content: "\e0f8";
}
.icon-file-check-1:before {
  content: "\e0f9";
}
.icon-file-check-2:before {
  content: "\e0fa";
}
.icon-file-checklist:before {
  content: "\e0fb";
}
.icon-file-checklist-edit:before {
  content: "\e0fc";
}
.icon-file-landscape-new:before {
  content: "\e0fd";
}
.icon-file-landscape-picture:before {
  content: "\e0fe";
}
.icon-file-landscape-text:before {
  content: "\e0ff";
}
.icon-file-line-graph:before {
  content: "\e100";
}
.icon-file-line-graph-add:before {
  content: "\e101";
}
.icon-file-line-graph-block:before {
  content: "\e102";
}
.icon-file-line-graph-cash:before {
  content: "\e103";
}
.icon-file-line-graph-check:before {
  content: "\e104";
}
.icon-file-line-graph-delete:before {
  content: "\e105";
}
.icon-file-line-graph-download:before {
  content: "\e106";
}
.icon-file-line-graph-edit:before {
  content: "\e107";
}
.icon-file-line-graph-favorite-heart:before {
  content: "\e108";
}
.icon-file-line-graph-favorite-star:before {
  content: "\e109";
}
.icon-file-line-graph-lock:before {
  content: "\e10a";
}
.icon-file-line-graph-question:before {
  content: "\e10b";
}
.icon-file-line-graph-refresh:before {
  content: "\e10c";
}
.icon-file-line-graph-setting:before {
  content: "\e10d";
}
.icon-file-line-graph-share:before {
  content: "\e10e";
}
.icon-file-line-graph-subtract:before {
  content: "\e10f";
}
.icon-file-line-graph-sync:before {
  content: "\e110";
}
.icon-file-line-graph-timeout:before {
  content: "\e111";
}
.icon-file-line-graph-upload:before {
  content: "\e112";
}
.icon-file-line-graph-view:before {
  content: "\e113";
}
.icon-file-line-graph-warning:before {
  content: "\e114";
}
.icon-file-lock-1:before {
  content: "\e115";
}
.icon-file-lock-2:before {
  content: "\e116";
}
.icon-file-module-1:before {
  content: "\e117";
}
.icon-file-module-edit:before {
  content: "\e118";
}
.icon-file-music-1:before {
  content: "\e119";
}
.icon-file-music-2:before {
  content: "\e11a";
}
.icon-file-music-3:before {
  content: "\e11b";
}
.icon-file-music-add:before {
  content: "\e11c";
}
.icon-file-music-block:before {
  content: "\e11d";
}
.icon-file-music-cash:before {
  content: "\e11e";
}
.icon-file-music-check:before {
  content: "\e11f";
}
.icon-file-music-delete:before {
  content: "\e120";
}
.icon-file-music-download:before {
  content: "\e121";
}
.icon-file-music-edit:before {
  content: "\e122";
}
.icon-file-music-equaliser:before {
  content: "\e123";
}
.icon-file-music-favorite-heart:before {
  content: "\e124";
}
.icon-file-music-favorite-star:before {
  content: "\e125";
}
.icon-file-music-lock:before {
  content: "\e126";
}
.icon-file-music-question:before {
  content: "\e127";
}
.icon-file-music-refresh:before {
  content: "\e128";
}
.icon-file-music-setting:before {
  content: "\e129";
}
.icon-file-music-share:before {
  content: "\e12a";
}
.icon-file-music-subtract:before {
  content: "\e12b";
}
.icon-file-music-sync:before {
  content: "\e12c";
}
.icon-file-music-timout:before {
  content: "\e12d";
}
.icon-file-music-upload:before {
  content: "\e12e";
}
.icon-file-music-view:before {
  content: "\e12f";
}
.icon-file-music-warning:before {
  content: "\e130";
}
.icon-file-new-1:before {
  content: "\e131";
}
.icon-file-new-2:before {
  content: "\e132";
}
.icon-file-new-3:before {
  content: "\e133";
}
.icon-file-no-sale:before {
  content: "\e134";
}
.icon-file-not-copyright:before {
  content: "\e135";
}
.icon-file-notepad:before {
  content: "\e136";
}
.icon-file-pdf:before {
  content: "\e137";
}
.icon-file-picture:before {
  content: "\e138";
}
.icon-file-picture-add:before {
  content: "\e139";
}
.icon-file-picture-block:before {
  content: "\e13a";
}
.icon-file-picture-cash:before {
  content: "\e13b";
}
.icon-file-picture-check:before {
  content: "\e13c";
}
.icon-file-picture-delete:before {
  content: "\e13d";
}
.icon-file-picture-download:before {
  content: "\e13e";
}
.icon-file-picture-edit:before {
  content: "\e13f";
}
.icon-file-picture-favorite-heart:before {
  content: "\e140";
}
.icon-file-picture-favorite-star:before {
  content: "\e141";
}
.icon-file-picture-lock:before {
  content: "\e142";
}
.icon-file-picture-question:before {
  content: "\e143";
}
.icon-file-picture-refresh:before {
  content: "\e144";
}
.icon-file-picture-setting:before {
  content: "\e145";
}
.icon-file-picture-share:before {
  content: "\e146";
}
.icon-file-picture-subtract:before {
  content: "\e147";
}
.icon-file-picture-sync:before {
  content: "\e148";
}
.icon-file-picture-timeout:before {
  content: "\e149";
}
.icon-file-picture-upload:before {
  content: "\e14a";
}
.icon-file-picture-view:before {
  content: "\e14b";
}
.icon-file-picture-warning:before {
  content: "\e14c";
}
.icon-file-powerpoint:before {
  content: "\e14d";
}
.icon-file-powerpoint-show:before {
  content: "\e14e";
}
.icon-file-question-1:before {
  content: "\e14f";
}
.icon-file-question-2:before {
  content: "\e150";
}
.icon-file-quill-1:before {
  content: "\e151";
}
.icon-file-refresh-1:before {
  content: "\e152";
}
.icon-file-refresh-2:before {
  content: "\e153";
}
.icon-file-registered-trademark:before {
  content: "\e154";
}
.icon-file-rtf:before {
  content: "\e155";
}
.icon-file-setting-1:before {
  content: "\e156";
}
.icon-file-setting-2:before {
  content: "\e157";
}
.icon-file-setting-3:before {
  content: "\e158";
}
.icon-file-share-1:before {
  content: "\e159";
}
.icon-file-share-2:before {
  content: "\e15a";
}
.icon-file-shredder:before {
  content: "\e15b";
}
.icon-file-stamp:before {
  content: "\e15c";
}
.icon-file-subtract-1:before {
  content: "\e15d";
}
.icon-file-subtract-2:before {
  content: "\e15e";
}
.icon-file-swap:before {
  content: "\e15f";
}
.icon-file-sync-1:before {
  content: "\e160";
}
.icon-file-sync-2:before {
  content: "\e161";
}
.icon-file-table:before {
  content: "\e162";
}
.icon-file-text:before {
  content: "\e163";
}
.icon-file-text-chart:before {
  content: "\e164";
}
.icon-file-text-document:before {
  content: "\e165";
}
.icon-file-text-picture:before {
  content: "\e166";
}
.icon-file-time:before {
  content: "\e167";
}
.icon-file-time-add:before {
  content: "\e168";
}
.icon-file-time-block:before {
  content: "\e169";
}
.icon-file-time-cash:before {
  content: "\e16a";
}
.icon-file-time-check:before {
  content: "\e16b";
}
.icon-file-time-delete:before {
  content: "\e16c";
}
.icon-file-time-download:before {
  content: "\e16d";
}
.icon-file-time-edit:before {
  content: "\e16e";
}
.icon-file-time-favorite:before {
  content: "\e16f";
}
.icon-file-time-favorite-heart:before {
  content: "\e170";
}
.icon-file-time-lock:before {
  content: "\e171";
}
.icon-file-time-question:before {
  content: "\e172";
}
.icon-file-time-refresh:before {
  content: "\e173";
}
.icon-file-time-search:before {
  content: "\e174";
}
.icon-file-time-setting:before {
  content: "\e175";
}
.icon-file-time-share:before {
  content: "\e176";
}
.icon-file-time-subtract:before {
  content: "\e177";
}
.icon-file-time-sync:before {
  content: "\e178";
}
.icon-file-time-timeout:before {
  content: "\e179";
}
.icon-file-time-upload:before {
  content: "\e17a";
}
.icon-file-time-warning:before {
  content: "\e17b";
}
.icon-file-timeout:before {
  content: "\e17c";
}
.icon-file-timeout-1:before {
  content: "\e17d";
}
.icon-file-trademark:before {
  content: "\e17e";
}
.icon-file-upload-1:before {
  content: "\e17f";
}
.icon-file-upload-2:before {
  content: "\e180";
}
.icon-file-user:before {
  content: "\e181";
}
.icon-file-vector-1:before {
  content: "\e182";
}
.icon-file-vector-2:before {
  content: "\e183";
}
.icon-file-video-1:before {
  content: "\e184";
}
.icon-file-video-2:before {
  content: "\e185";
}
.icon-file-video-3:before {
  content: "\e186";
}
.icon-file-video-add:before {
  content: "\e187";
}
.icon-file-video-block:before {
  content: "\e188";
}
.icon-file-video-cash:before {
  content: "\e189";
}
.icon-file-video-check:before {
  content: "\e18a";
}
.icon-file-video-delete:before {
  content: "\e18b";
}
.icon-file-video-download:before {
  content: "\e18c";
}
.icon-file-video-edit:before {
  content: "\e18d";
}
.icon-file-video-favorite-heart:before {
  content: "\e18e";
}
.icon-file-video-favorite-star:before {
  content: "\e18f";
}
.icon-file-video-lock:before {
  content: "\e190";
}
.icon-file-video-question:before {
  content: "\e191";
}
.icon-file-video-refresh:before {
  content: "\e192";
}
.icon-file-video-setting:before {
  content: "\e193";
}
.icon-file-video-share:before {
  content: "\e194";
}
.icon-file-video-subtract:before {
  content: "\e195";
}
.icon-file-video-sync:before {
  content: "\e196";
}
.icon-file-video-timeout:before {
  content: "\e197";
}
.icon-file-video-upload:before {
  content: "\e198";
}
.icon-file-video-view:before {
  content: "\e199";
}
.icon-file-video-warning:before {
  content: "\e19a";
}
.icon-file-view-1:before {
  content: "\e19b";
}
.icon-file-view-2:before {
  content: "\e19c";
}
.icon-file-warning-1:before {
  content: "\e19d";
}
.icon-file-warning-2:before {
  content: "\e19e";
}
.icon-file-words:before {
  content: "\e19f";
}
.icon-files-1:before {
  content: "\e1a0";
}
.icon-files-2:before {
  content: "\e1a1";
}
.icon-files-3:before {
  content: "\e1a2";
}
.icon-files-landscape:before {
  content: "\e1a3";
}
.icon-graph:before {
  content: "\e1a4";
}
.icon-graph-bar-1:before {
  content: "\e1a5";
}
.icon-graph-bar-2:before {
  content: "\e1a6";
}
.icon-graph-bar-3:before {
  content: "\e1a7";
}
.icon-graph-bar-3d:before {
  content: "\e1a8";
}
.icon-graph-bar-decrease:before {
  content: "\e1a9";
}
.icon-graph-bar-increase:before {
  content: "\e1aa";
}
.icon-graph-bar-line:before {
  content: "\e1ab";
}
.icon-graph-line-1:before {
  content: "\e1ac";
}
.icon-graph-line-2:before {
  content: "\e1ad";
}
.icon-graph-line-3:before {
  content: "\e1ae";
}
.icon-graph-line-6:before {
  content: "\e1af";
}
.icon-graph-pie-1:before {
  content: "\e1b0";
}
.icon-graph-pie-2:before {
  content: "\e1b1";
}
.icon-greeting-card:before {
  content: "\e1b2";
}
.icon-group-add-1:before {
  content: "\e1b3";
}
.icon-group-add-2:before {
  content: "\e1b4";
}
.icon-group-block:before {
  content: "\e1b5";
}
.icon-group-cash:before {
  content: "\e1b6";
}
.icon-group-chat:before {
  content: "\e1b7";
}
.icon-group-check:before {
  content: "\e1b8";
}
.icon-group-download:before {
  content: "\e1b9";
}
.icon-group-favorite-star:before {
  content: "\e1ba";
}
.icon-group-global:before {
  content: "\e1bb";
}
.icon-group-information:before {
  content: "\e1bc";
}
.icon-group-lock:before {
  content: "\e1bd";
}
.icon-group-protect:before {
  content: "\e1be";
}
.icon-group-refresh:before {
  content: "\e1bf";
}
.icon-group-remove:before {
  content: "\e1c0";
}
.icon-group-setting:before {
  content: "\e1c1";
}
.icon-group-subtract-1:before {
  content: "\e1c2";
}
.icon-group-subtract-2:before {
  content: "\e1c3";
}
.icon-group-timeout:before {
  content: "\e1c4";
}
.icon-graduate:before {
  content: "\e1c5";
}
.icon-graph-line-5:before {
  content: "\e1c6";
}
.icon-group-favorite-heart:before {
  content: "\e1c7";
}
.icon-group-edit:before {
  content: "\e1c8";
}
.icon-group-unknown:before {
  content: "\e1c9";
}
.icon-group-upload:before {
  content: "\e1ca";
}
.icon-group-view:before {
  content: "\e1cb";
}
.icon-group-warning:before {
  content: "\e1cc";
}
.icon-group-wifi:before {
  content: "\e1cd";
}
.icon-heart:before {
  content: "\e1ce";
}
.icon-heart-check:before {
  content: "\e1cf";
}
.icon-heart-circle:before {
  content: "\e1d0";
}
.icon-hourglass-1:before {
  content: "\e1d1";
}
.icon-hourglass-2:before {
  content: "\e1d2";
}
.icon-hot-topic:before {
  content: "\e1d3";
}
.icon-inbox-1:before {
  content: "\e1d4";
}
.icon-id-picture-1:before {
  content: "\e1d5";
}
.icon-id-picture-2:before {
  content: "\e1d6";
}
.icon-location-pin-2:before {
  content: "\e1d7";
}
.icon-location-computer:before {
  content: "\e1d8";
}
.icon-loading-1:before {
  content: "\e1d9";
}
.icon-location-pin-1:before {
  content: "\e1da";
}
.icon-location-pin-3:before {
  content: "\e1db";
}
.icon-location-pin-4:before {
  content: "\e1dc";
}
.icon-location-pin-5:before {
  content: "\e1dd";
}
.icon-location-pin-6:before {
  content: "\e1de";
}
.icon-location-pin-7:before {
  content: "\e1df";
}
.icon-location-pin-8:before {
  content: "\e1e0";
}
.icon-location-pin-9:before {
  content: "\e1e1";
}
.icon-location-pin-10:before {
  content: "\e1e2";
}
.icon-location-pin-11:before {
  content: "\e1e3";
}
.icon-location-pin-12:before {
  content: "\e1e4";
}
.icon-location-pin-13:before {
  content: "\e1e5";
}
.icon-location-pin-14:before {
  content: "\e1e6";
}
.icon-location-pin-add-1:before {
  content: "\e1e7";
}
.icon-location-pin-add-2:before {
  content: "\e1e8";
}
.icon-location-pin-add-3:before {
  content: "\e1e9";
}
.icon-location-pin-add-4:before {
  content: "\e1ea";
}
.icon-location-pin-add-5:before {
  content: "\e1eb";
}
.icon-location-pin-airport-1:before {
  content: "\e1ec";
}
.icon-location-pin-airport-2:before {
  content: "\e1ed";
}
.icon-location-pin-bank-1:before {
  content: "\e1ee";
}
.icon-location-pin-bank-2:before {
  content: "\e1ef";
}
.icon-location-pin-bar-1:before {
  content: "\e1f0";
}
.icon-location-pin-bar-2:before {
  content: "\e1f1";
}
.icon-location-pin-block:before {
  content: "\e1f2";
}
.icon-location-pin-camera-1:before {
  content: "\e1f3";
}
.icon-location-pin-camera-2:before {
  content: "\e1f4";
}
.icon-location-pin-check-1:before {
  content: "\e1f5";
}
.icon-location-pin-check-2:before {
  content: "\e1f6";
}
.icon-location-pin-church-1:before {
  content: "\e1f7";
}
.icon-location-pin-church-2:before {
  content: "\e1f8";
}
.icon-location-pin-dining-1:before {
  content: "\e1f9";
}
.icon-location-pin-direction-1:before {
  content: "\e1fa";
}
.icon-location-pin-direction-2:before {
  content: "\e1fb";
}
.icon-location-pin-direction-3:before {
  content: "\e1fc";
}
.icon-location-pin-exclamation-1:before {
  content: "\e1fd";
}
.icon-location-pin-exclamation-2:before {
  content: "\e1fe";
}
.icon-location-pin-favorite-1:before {
  content: "\e1ff";
}
.icon-location-pin-favorite-2:before {
  content: "\e200";
}
.icon-location-pin-favorite-3:before {
  content: "\e201";
}
.icon-logo-bnter:before {
  content: "\e202";
}
.icon-logo-brightkite:before {
  content: "\e203";
}
.icon-logo-circle-500px:before {
  content: "\e204";
}
.icon-logo-circle-about-me:before {
  content: "\e205";
}
.icon-logo-circle-adobe:before {
  content: "\e206";
}
.icon-logo-circle-aim:before {
  content: "\e207";
}
.icon-logo-circle-amazon-web-service:before {
  content: "\e208";
}
.icon-logo-circle-apple:before {
  content: "\e209";
}
.icon-logo-circle-appstore:before {
  content: "\e20a";
}
.icon-logo-circle-ati:before {
  content: "\e20b";
}
.icon-logo-circle-baidu:before {
  content: "\e20c";
}
.icon-logo-circle-basecamp:before {
  content: "\e20d";
}
.icon-logo-circle-beats-1:before {
  content: "\e20e";
}
.icon-logo-circle-bnter:before {
  content: "\e20f";
}
.icon-logo-circle-brightkite:before {
  content: "\e210";
}
.icon-logo-circle-coroflot:before {
  content: "\e211";
}
.icon-logo-circle-crunchyroll:before {
  content: "\e212";
}
.icon-logo-circle-dailybooth:before {
  content: "\e213";
}
.icon-logo-circle-dribbble:before {
  content: "\e214";
}
.icon-logo-circle-dropbox:before {
  content: "\e215";
}
.icon-logo-circle-drupal:before {
  content: "\e216";
}
.icon-logo-circle-dzone:before {
  content: "\e217";
}
.icon-logo-circle-electronic-art:before {
  content: "\e218";
}
.icon-logo-circle-email:before {
  content: "\e219";
}
.icon-logo-circle-etsy:before {
  content: "\e21a";
}
.icon-logo-circle-evernote:before {
  content: "\e21b";
}
.icon-logo-circle-facebook:before {
  content: "\e21c";
}
.icon-logo-circle-feed-burner:before {
  content: "\e21d";
}
.icon-logo-circle-ffffound:before {
  content: "\e21e";
}
.icon-logo-circle-flickr:before {
  content: "\e21f";
}
.icon-logo-circle-food-spotting:before {
  content: "\e220";
}
.icon-logo-circle-formspring:before {
  content: "\e221";
}
.icon-logo-circle-forrst:before {
  content: "\e222";
}
.icon-logo-circle-foursquare:before {
  content: "\e223";
}
.icon-logo-circle-friend-star:before {
  content: "\e224";
}
.icon-logo-circle-friends-feed:before {
  content: "\e225";
}
.icon-logo-circle-gabbr:before {
  content: "\e226";
}
.icon-logo-circle-gdgt:before {
  content: "\e227";
}
.icon-logo-circle-github-1:before {
  content: "\e228";
}
.icon-logo-circle-github-2:before {
  content: "\e229";
}
.icon-logo-circle-github-3:before {
  content: "\e22a";
}
.icon-logo-circle-google:before {
  content: "\e22b";
}
.icon-logo-circle-google-buzz:before {
  content: "\e22c";
}
.icon-logo-circle-google-drive:before {
  content: "\e22d";
}
.icon-logo-circle-google-play-store:before {
  content: "\e22e";
}
.icon-logo-circle-google-plus:before {
  content: "\e22f";
}
.icon-logo-circle-google-plus-2:before {
  content: "\e230";
}
.icon-logo-circle-google-talk:before {
  content: "\e231";
}
.icon-logo-circle-gowalla:before {
  content: "\e232";
}
.icon-logo-circle-gowalla-1:before {
  content: "\e233";
}
.icon-logo-circle-gowalla-pin:before {
  content: "\e234";
}
.icon-logo-circle-grooveshark:before {
  content: "\e235";
}
.icon-logo-circle-hi-five:before {
  content: "\e236";
}
.icon-logo-circle-hyves:before {
  content: "\e237";
}
.icon-logo-circle-icon-dock:before {
  content: "\e238";
}
.icon-logo-circle-icq:before {
  content: "\e239";
}
.icon-logo-circle-identica:before {
  content: "\e23a";
}
.icon-logo-circle-imdb:before {
  content: "\e23b";
}
.icon-logo-circle-imessage:before {
  content: "\e23c";
}
.icon-logo-circle-instagram:before {
  content: "\e23d";
}
.icon-logo-circle-instapaper:before {
  content: "\e23e";
}
.icon-logo-circle-irc-galleria:before {
  content: "\e23f";
}
.icon-logo-circle-itune:before {
  content: "\e240";
}
.icon-logo-circle-iwiw:before {
  content: "\e241";
}
.icon-logo-circle-kennt:before {
  content: "\e242";
}
.icon-logo-circle-kik:before {
  content: "\e243";
}
.icon-logo-circle-last-fm:before {
  content: "\e244";
}
.icon-logo-circle-line-app:before {
  content: "\e245";
}
.icon-logo-circle-linkedin:before {
  content: "\e246";
}
.icon-logo-circle-magento:before {
  content: "\e247";
}
.icon-logo-circle-meetup:before {
  content: "\e248";
}
.icon-logo-circle-memori:before {
  content: "\e249";
}
.icon-logo-circle-meta-cafe:before {
  content: "\e24a";
}
.icon-logo-circle-mixx:before {
  content: "\e24b";
}
.icon-logo-circle-mobile-me:before {
  content: "\e24c";
}
.icon-logo-circle-mr-wong:before {
  content: "\e24d";
}
.icon-logo-circle-msn:before {
  content: "\e24e";
}
.icon-logo-circle-mubi:before {
  content: "\e24f";
}
.icon-logo-circle-mylife:before {
  content: "\e250";
}
.icon-logo-circle-myspace:before {
  content: "\e251";
}
.icon-logo-circle-news-vine:before {
  content: "\e252";
}
.icon-logo-circle-nexopia:before {
  content: "\e253";
}
.icon-logo-circle-ning:before {
  content: "\e254";
}
.icon-logo-circle-odnoklassniki:before {
  content: "\e255";
}
.icon-logo-circle-openid:before {
  content: "\e256";
}
.icon-logo-circle-orkut:before {
  content: "\e257";
}
.icon-logo-circle-osx:before {
  content: "\e258";
}
.icon-logo-circle-path:before {
  content: "\e259";
}
.icon-logo-circle-paypal:before {
  content: "\e25a";
}
.icon-logo-circle-photobucket:before {
  content: "\e25b";
}
.icon-logo-circle-picasa:before {
  content: "\e25c";
}
.icon-logo-circle-pingchat:before {
  content: "\e25d";
}
.icon-logo-circle-pinterest:before {
  content: "\e25e";
}
.icon-logo-circle-plurk:before {
  content: "\e25f";
}
.icon-logo-circle-podcast:before {
  content: "\e260";
}
.icon-logo-circle-qik:before {
  content: "\e261";
}
.icon-logo-circle-quora:before {
  content: "\e262";
}
.icon-logo-circle-rdio:before {
  content: "\e263";
}
.icon-logo-circle-readernaut:before {
  content: "\e264";
}
.icon-logo-circle-reddit:before {
  content: "\e265";
}
.icon-logo-circle-renren:before {
  content: "\e266";
}
.icon-logo-circle-retweet:before {
  content: "\e267";
}
.icon-logo-circle-rss:before {
  content: "\e268";
}
.icon-logo-circle-scribd:before {
  content: "\e269";
}
.icon-logo-circle-sina-weibo:before {
  content: "\e26a";
}
.icon-logo-circle-skype:before {
  content: "\e26b";
}
.icon-logo-circle-slash-dot:before {
  content: "\e26c";
}
.icon-logo-circle-slide-share:before {
  content: "\e26d";
}
.icon-logo-circle-smug-mug:before {
  content: "\e26e";
}
.icon-logo-circle-soundcloud:before {
  content: "\e26f";
}
.icon-logo-circle-spotify:before {
  content: "\e270";
}
.icon-logo-circle-squarespace:before {
  content: "\e271";
}
.icon-logo-circle-squidoo:before {
  content: "\e272";
}
.icon-logo-circle-stack-overflow:before {
  content: "\e273";
}
.icon-logo-circle-students-circle-network:before {
  content: "\e274";
}
.icon-logo-circle-stumble-upon:before {
  content: "\e275";
}
.icon-logo-circle-technorati:before {
  content: "\e276";
}
.icon-logo-circle-treehouse:before {
  content: "\e277";
}
.icon-logo-circle-tripit:before {
  content: "\e278";
}
.icon-logo-circle-tuenti:before {
  content: "\e279";
}
.icon-logo-circle-tumblr:before {
  content: "\e27a";
}
.icon-logo-circle-twitter:before {
  content: "\e27b";
}
.icon-logo-circle-twitter-bird:before {
  content: "\e27c";
}
.icon-logo-circle-viddler:before {
  content: "\e27d";
}
.icon-logo-circle-vimeo:before {
  content: "\e27e";
}
.icon-logo-circle-vk:before {
  content: "\e27f";
}
.icon-logo-circle-vodafone:before {
  content: "\e280";
}
.icon-logo-circle-wattpad:before {
  content: "\e281";
}
.icon-logo-circle-wechat:before {
  content: "\e282";
}
.icon-logo-circle-whatsapp:before {
  content: "\e283";
}
.icon-logo-circle-wikipedia:before {
  content: "\e284";
}
.icon-logo-circle-windows:before {
  content: "\e285";
}
.icon-logo-circle-xing:before {
  content: "\e286";
}
.icon-logo-circle-yahoo:before {
  content: "\e287";
}
.icon-logo-circle-yammer:before {
  content: "\e288";
}
.icon-logo-circle-youtube:before {
  content: "\e289";
}
.icon-logo-circle-youtube-clip:before {
  content: "\e28a";
}
.icon-logo-google-drive:before {
  content: "\e28b";
}
.icon-logo-google-play-store:before {
  content: "\e28c";
}
.icon-logo-google-plus-1:before {
  content: "\e28d";
}
.icon-logo-dropbox:before {
  content: "\e28e";
}
.icon-logo-email:before {
  content: "\e28f";
}
.icon-logo-github:before {
  content: "\e290";
}
.icon-logo-instagram:before {
  content: "\e291";
}
.icon-logo-rss:before {
  content: "\e292";
}
.icon-map-direction:before {
  content: "\e293";
}
.icon-man:before {
  content: "\e294";
}
.icon-map-pin-1:before {
  content: "\e295";
}
.icon-loop-infinite-3:before {
  content: "\e296";
}
.icon-loop-infinite-2:before {
  content: "\e297";
}
.icon-loop-infinite-1:before {
  content: "\e298";
}
.icon-new-sticker-circle:before {
  content: "\e299";
}
.icon-new-sticker-square:before {
  content: "\e29a";
}
.icon-network-people:before {
  content: "\e29b";
}
.icon-network-cash:before {
  content: "\e29c";
}
.icon-network-unknown:before {
  content: "\e29d";
}
.icon-modules-2:before {
  content: "\e29e";
}
.icon-paperclip-2:before {
  content: "\e29f";
}
.icon-paperclip-1:before {
  content: "\e2a0";
}
.icon-paragraph-two-columns:before {
  content: "\e2a1";
}
.icon-percent-1:before {
  content: "\e2a2";
}
.icon-percent-badge:before {
  content: "\e2a3";
}
.icon-percent-box:before {
  content: "\e2a4";
}
.icon-person-check-2:before {
  content: "\e2a5";
}
.icon-person-download-1:before {
  content: "\e2a6";
}
.icon-person-download-2:before {
  content: "\e2a7";
}
.icon-person-edit-1:before {
  content: "\e2a8";
}
.icon-person-edit-2:before {
  content: "\e2a9";
}
.icon-person-favorite-heart-1:before {
  content: "\e2aa";
}
.icon-person-favorite-heart-2:before {
  content: "\e2ab";
}
.icon-person-favorite-star-1:before {
  content: "\e2ac";
}
.icon-person-favorite-star-2:before {
  content: "\e2ad";
}
.icon-person-information-1:before {
  content: "\e2ae";
}
.icon-person-information-2:before {
  content: "\e2af";
}
.icon-person-protect-1:before {
  content: "\e2b0";
}
.icon-person-protect-2:before {
  content: "\e2b1";
}
.icon-person-refresh-1:before {
  content: "\e2b2";
}
.icon-person-refresh-2:before {
  content: "\e2b3";
}
.icon-person-remove-1:before {
  content: "\e2b4";
}
.icon-person-remove-2:before {
  content: "\e2b5";
}
.icon-person-setting-1:before {
  content: "\e2b6";
}
.icon-person-setting-2:before {
  content: "\e2b7";
}
.icon-person-subtract-1:before {
  content: "\e2b8";
}
.icon-person-subtract-2:before {
  content: "\e2b9";
}
.icon-person-timeout-1:before {
  content: "\e2ba";
}
.icon-person-unknown-2:before {
  content: "\e2bb";
}
.icon-person-upload-1:before {
  content: "\e2bc";
}
.icon-person-upload-2:before {
  content: "\e2bd";
}
.icon-person-view-1:before {
  content: "\e2be";
}
.icon-person-view-2:before {
  content: "\e2bf";
}
.icon-person-warning-1:before {
  content: "\e2c0";
}
.icon-person-warning-2:before {
  content: "\e2c1";
}
.icon-phone-book-1:before {
  content: "\e2c2";
}
.icon-phone-book-2:before {
  content: "\e2c3";
}
.icon-phone-love-message:before {
  content: "\e2c4";
}
.icon-piano:before {
  content: "\e2c5";
}
.icon-picture-3:before {
  content: "\e2c6";
}
.icon-picture-frame-1:before {
  content: "\e2c7";
}
.icon-picture-frame-2:before {
  content: "\e2c8";
}
.icon-picture-landscape:before {
  content: "\e2c9";
}
.icon-picture-layer-1:before {
  content: "\e2ca";
}
.icon-picture-layer-2:before {
  content: "\e2cb";
}
.icon-picture-macro:before {
  content: "\e2cc";
}
.icon-picture-people:before {
  content: "\e2cd";
}
.icon-picture-portrait:before {
  content: "\e2ce";
}
.icon-picture-view-all:before {
  content: "\e2cf";
}
.icon-piggy-bank:before {
  content: "\e2d0";
}
.icon-person-cash-2:before {
  content: "\e2d1";
}
.icon-person-check-1:before {
  content: "\e2d2";
}
.icon-person-lock-1:before {
  content: "\e2d3";
}
.icon-person-lock-2:before {
  content: "\e2d4";
}
.icon-person-timeout-2:before {
  content: "\e2d5";
}
.icon-person-unknown-1:before {
  content: "\e2d6";
}
.icon-picture-1:before {
  content: "\e2d7";
}
.icon-picture-2:before {
  content: "\e2d8";
}
.icon-percent-increase:before {
  content: "\e2d9";
}
.icon-person-1:before {
  content: "\e2da";
}
.icon-person-2:before {
  content: "\e2db";
}
.icon-person-add-1:before {
  content: "\e2dc";
}
.icon-person-add-2:before {
  content: "\e2dd";
}
.icon-person-block-1:before {
  content: "\e2de";
}
.icon-person-block-2:before {
  content: "\e2df";
}
.icon-person-cash-1:before {
  content: "\e2e0";
}
.icon-projector-screen:before {
  content: "\e2e1";
}
.icon-presentation-bar-graph-2:before {
  content: "\e2e2";
}
.icon-presentation-code:before {
  content: "\e2e3";
}
.icon-pulse-signal-2:before {
  content: "\e2e4";
}
.icon-pulse-signal-1:before {
  content: "\e2e5";
}
.icon-profile-picture-1:before {
  content: "\e2e6";
}
.icon-presentation-location:before {
  content: "\e2e7";
}
.icon-presentation-media:before {
  content: "\e2e8";
}
.icon-presentation-picture:before {
  content: "\e2e9";
}
.icon-presentation-pie-graph:before {
  content: "\e2ea";
}
.icon-presentation-setting:before {
  content: "\e2eb";
}
.icon-presentation-shopping-cart:before {
  content: "\e2ec";
}
.icon-presentation-speech:before {
  content: "\e2ed";
}
.icon-presentation-timeout:before {
  content: "\e2ee";
}
.icon-price-down:before {
  content: "\e2ef";
}
.icon-price-rise:before {
  content: "\e2f0";
}
.icon-redo:before {
  content: "\e2f1";
}
.icon-remove-1:before {
  content: "\e2f2";
}
.icon-remove-circle-1:before {
  content: "\e2f3";
}
.icon-remove-circle-2:before {
  content: "\e2f4";
}
.icon-rss-feed:before {
  content: "\e2f5";
}
.icon-report-problem-circle:before {
  content: "\e2f6";
}
.icon-synchronize-2:before {
  content: "\e2f7";
}
.icon-synchronize-3:before {
  content: "\e2f8";
}
.icon-synchronize-4:before {
  content: "\e2f9";
}
.icon-synchronize-5:before {
  content: "\e2fa";
}
.icon-synchronize-6:before {
  content: "\e2fb";
}
.icon-synchronize-7:before {
  content: "\e2fc";
}
.icon-synchronize-lock:before {
  content: "\e2fd";
}
.icon-synchronize-time:before {
  content: "\e2fe";
}
.icon-synchronize-triangle:before {
  content: "\e2ff";
}
.icon-synchronize-view:before {
  content: "\e300";
}
.icon-synchronize-warning:before {
  content: "\e301";
}
.icon-syncing:before {
  content: "\e302";
}
.icon-synchronize-1:before {
  content: "\e303";
}
.icon-timer-full-1:before {
  content: "\e304";
}
.icon-timer-full-2:before {
  content: "\e305";
}
.icon-timer-half-1:before {
  content: "\e306";
}
.icon-timer-half-2:before {
  content: "\e307";
}
.icon-timer-half-3:before {
  content: "\e308";
}
.icon-timer-half-4:before {
  content: "\e309";
}
.icon-timer-mode:before {
  content: "\e30a";
}
.icon-timer-quarter-1:before {
  content: "\e30b";
}
.icon-timer-quarter-2:before {
  content: "\e30c";
}
.icon-timer-three-quarter-1:before {
  content: "\e30d";
}
.icon-timer-three-quarter-2:before {
  content: "\e30e";
}
.icon-user-chat-1:before {
  content: "\e30f";
}
.icon-user-chat-2:before {
  content: "\e310";
}
.icon-user-chat-3:before {
  content: "\e311";
}
.icon-user-chat-4:before {
  content: "\e312";
}
.icon-user-chat-5:before {
  content: "\e313";
}
.icon-user-chat-6:before {
  content: "\e314";
}
.icon-user-chat-7:before {
  content: "\e315";
}
.icon-undo:before {
  content: "\e316";
}
.icon-trending-down:before {
  content: "\e317";
}
.icon-trending-up:before {
  content: "\e318";
}
.icon-wrench:before {
  content: "\e319";
}
.icon-wrench-double:before {
  content: "\e31a";
}
.icon-yen-sign:before {
  content: "\e31b";
}
.icon-yen-sign-badge:before {
  content: "\e31c";
}
.icon-yen-sign-circle:before {
  content: "\e31d";
}
.icon-yen-sign-ticket:before {
  content: "\e31e";
}
.icon-zigzag-1:before {
  content: "\e31f";
}
.icon-zigzag-3:before {
  content: "\e320";
}
.icon-zigziag-2:before {
  content: "\e321";
}
.icon-zoom-in:before {
  content: "\e322";
}
.icon-zoom-out:before {
  content: "\e323";
}
.icon-view-cash-1:before {
  content: "\e324";
}
.icon-view-2:before {
  content: "\e325";
}
.icon-view-1:before {
  content: "\e326";
}
.icon-volume-up-2:before {
  content: "\e327";
}
.icon-volume-up-1:before {
  content: "\e328";
}
.icon-volume-max-2:before {
  content: "\e329";
}
.icon-volume-max-1:before {
  content: "\e32a";
}
.icon-volume-low-2:before {
  content: "\e32b";
}
.icon-volume-low-1:before {
  content: "\e32c";
}
.icon-volume-down-2:before {
  content: "\e32d";
}
.icon-volume-down-1:before {
  content: "\e32e";
}
.icon-angle-brackets:before {
  content: "\e32f";
}
.icon-badge-plus:before {
  content: "\e330";
}
.icon-badge-question:before {
  content: "\e331";
}
.icon-badge-one-hundred-1:before {
  content: "\e332";
}
.icon-badge-number-one-2:before {
  content: "\e333";
}
.icon-badge-number-one-1:before {
  content: "\e334";
}
.icon-badge-like-2:before {
  content: "\e335";
}
.icon-badge-like-1:before {
  content: "\e336";
}
.icon-box-add:before {
  content: "\e337";
}
.icon-computer-line-graph:before {
  content: "\e338";
}
.icon-computer-media:before {
  content: "\e339";
}
.icon-computer-pie-graph:before {
  content: "\e33a";
}
.icon-computer-protection:before {
  content: "\e33b";
}
.icon-construction-blueprint-1:before {
  content: "\e33c";
}
.icon-construction-blueprint-2:before {
  content: "\e33d";
}
.icon-cursor-choose:before {
  content: "\e33e";
}
.icon-cursor-information:before {
  content: "\e33f";
}
.icon-crystal-raw:before {
  content: "\e340";
}
.icon-eclipse:before {
  content: "\e341";
}
.icon-dollar-sign:before {
  content: "\e342";
}
.icon-flower-2:before {
  content: "\e343";
}
.icon-focus-1:before {
  content: "\e344";
}
.icon-free-sticker-circle:before {
  content: "\e345";
}
.icon-free-sticker-square:before {
  content: "\e346";
}
.icon-forward-box:before {
  content: "\e347";
}
.icon-headlight-high:before {
  content: "\e348";
}
.icon-heart-block:before {
  content: "\e349";
}
.icon-heart-search:before {
  content: "\e34a";
}
.icon-heart-setting:before {
  content: "\e34b";
}
.icon-heart-share:before {
  content: "\e34c";
}
.icon-jellyfish:before {
  content: "\e34d";
}
.icon-help-circle:before {
  content: "\e34e";
}
.icon-hide:before {
  content: "\e34f";
}
.icon-hot-topic-circle:before {
  content: "\e350";
}
.icon-key-2:before {
  content: "\e351";
}
.icon-link-3:before {
  content: "\e352";
}
.icon-link-2:before {
  content: "\e353";
}
.icon-link-1:before {
  content: "\e354";
}
.icon-line-spacing:before {
  content: "\e355";
}
.icon-link-broken-1:before {
  content: "\e356";
}
.icon-link-broken-2:before {
  content: "\e357";
}
.icon-location-pin-favorite-4:before {
  content: "\e358";
}
.icon-location-pin-subtract-5:before {
  content: "\e359";
}
.icon-location-pin-subtract-3:before {
  content: "\e35a";
}
.icon-location-pin-subtract-2:before {
  content: "\e35b";
}
.icon-lock-close-2:before {
  content: "\e35c";
}
.icon-location-pin-unknown-2:before {
  content: "\e35d";
}
.icon-location-pin-unknown-1:before {
  content: "\e35e";
}
.icon-lock-close-1:before {
  content: "\e35f";
}
.icon-lock-close-3:before {
  content: "\e360";
}
.icon-lock-open-2:before {
  content: "\e361";
}
.icon-lock-open-3:before {
  content: "\e362";
}
.icon-lock-open-1:before {
  content: "\e363";
}
.icon-login-3:before {
  content: "\e364";
}
.icon-login-2:before {
  content: "\e365";
}
.icon-login-1:before {
  content: "\e366";
}
.icon-logo-circle-design-bump:before {
  content: "\e367";
}
.icon-logo-circle-daytum:before {
  content: "\e368";
}
.icon-logo-dailybooth:before {
  content: "\e369";
}
.icon-logo-facebook:before {
  content: "\e36a";
}
.icon-logo-google:before {
  content: "\e36b";
}
.icon-logo-google-talk:before {
  content: "\e36c";
}
.icon-logo-identica:before {
  content: "\e36d";
}
.icon-logo-imessage:before {
  content: "\e36e";
}
.icon-logo-linkedin:before {
  content: "\e36f";
}
.icon-logo-itunes:before {
  content: "\e370";
}
.icon-logo-mobile-me:before {
  content: "\e371";
}
.icon-logo-my-space:before {
  content: "\e372";
}
.icon-logo-msn:before {
  content: "\e373";
}
.icon-logo-paypal:before {
  content: "\e374";
}
.icon-logo-ning:before {
  content: "\e375";
}
.icon-logo-twitter-bird:before {
  content: "\e376";
}
.icon-logo-squidoo:before {
  content: "\e377";
}
.icon-logo-reddit:before {
  content: "\e378";
}
.icon-logo-vk:before {
  content: "\e379";
}
.icon-logo-youtube-clip:before {
  content: "\e37a";
}
.icon-logo-you-tube:before {
  content: "\e37b";
}
.icon-logout-3:before {
  content: "\e37c";
}
.icon-logo-whatsapp:before {
  content: "\e37d";
}
.icon-logo-wechat:before {
  content: "\e37e";
}
