@font-face {
  font-family: courierNew;
  src: url(../fonts/cour.ttf);
}
@font-face {
  font-family: courierBold;
  src: url(../fonts/courbd.ttf);
}
html,
body {
  height: 100%;
}
body {
  font-family: courierNew;
  background: #f7f7f7;
  padding-top: 100px;
}
@media screen and (max-width: 769px) {
  body {
    padding-top: 70px;
  }
}
h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 1.875em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.125em;
}
h5 {
  font-size: 0.875em;
}
h6 {
  font-size: 0.75em;
}
.navbar {
  background: #ffffff;
  box-shadow: none;
  border-bottom: 1px solid #686868;
  height: 80px;
  padding-top: 1%;
}
@media screen and (max-width: 769px) {
  .navbar {
    height: initial;
    padding-top: 0;
  }
}
.navbar .navbar-brand {
  background: url(../img/lexelor.svg) no-repeat;
  background-position: center;
  width: 150px;
}
.navbar .navbar-nav li {
  border-bottom: 1px solid #f7f7f7;
}
.navbar .navbar-nav li a:not(.btnSignIn) {
  font-family: courierBold;
  color: #303030;
  font-size: 0.875em;
}
.navbar .navbar-nav li a:not(.btnSignIn):hover {
  color: #1d81e2;
  transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
}
.navbar .navbar-nav li .btnSignIn {
  border-radius: 0;
  width: 150px;
  height: 30px;
  margin-top: 6.5%;
  border: 1px solid #1d81e2;
  font-family: courierBold;
  padding: 0%;
  padding-top: 2.5%;
}
.navbar .navbar-nav li .btnSignIn:hover {
  color: #ffffff;
  background: #1d81e2;
  transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -webkit-transition: background 0.25s ease-in-out;
}
@media screen and (max-width: 769px) {
  .navbar .navbar-nav li .btnSignIn {
    margin-top: 0;
    padding-top: .5%;
  }
}
.scrollDashed {
  height: 200px;
  border-top: 1px dashed #686868;
  border-bottom: 1px dashed #686868;
  margin-top: 10%;
  margin-bottom: 10%;
}
.footer {
  background: #ffffff;
  border-top: 1px solid #686868;
  padding-top: 2%;
}
.footer a {
  color: #686868;
  transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  font-family: courierBold;
}
.footer a:hover {
  text-decoration: none;
  color: #1d81e2;
}
.footer a .socials {
  font-size: 1.25em;
}
.footer a .socials,
.footer a .footerIcons {
  position: relative;
  bottom: -13%;
}
.copyright {
  background: #ffffff;
  color: darkgray;
  font-size: .7em;
}
@media screen and (max-width: 769px) {
  .footer .col-sm-12 p,
  .footer .col-sm-12 ul {
    text-align: center;
  }
}
