@font-face {
  font-family: courierNew;
  src: url(../fonts/cour.otf);
}
@font-face {
  font-family: courierBold;
  src: url(../fonts/courbd.otf);
}
@font-face {
  font-family: SF;
  src: url(../fonts/SF.otf);
}
@font-face {
  font-family: SFUltraLight;
  src: url(../fonts/SFUltraLight.ttf);
}
@font-face {
  font-family: SFThin;
  src: url(../fonts/SFThin.ttf);
}
@font-face {
  font-family: SFRegular;
  src: url(../fonts/SFRegular.ttf);
}
@font-face {
  font-family: SFBold;
  src: url(../fonts/SFBold.ttf);
}
/*Origin colors*/
/*Icon coloros for mainPage*/
